<!-- <div class="container">
    <div class="row ">
        <div class="col-md-3">
            <div id="wrapper">
                <div id="sidebar-wrapper">
                    <ul class="nav nav-pills nav-stacked">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Remittance</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="#">
                                        <span>Remittance Mismatch</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Remittance Search</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>OnHold Remittance</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Manual Posting Queue</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Advance Manual Posting</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Deposit vs Remittance Mismatch</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Deposit</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Deposit Summary</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Deposit Mismatch</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Deposit Search</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Claims</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="#">
                                        <span> Claims Search</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> Posted Claims Search</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> Bulk Denial</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Report</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="#">
                                        <span>Reports</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Report Configuration</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Report Generation</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Report Archive</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Admin</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>BP Configuration</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Page Preferences</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Contract Fee</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Action Code</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Client Reference Update</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/card-crosswalks']">
                                        <span>Card Crosswalks</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Freeze Invoice</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>On Demand Jobs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Response Config</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Provider Contract Config</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Deposit Lockbox Config</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Advance Mismatch Portal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>User Activity</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Load Configuration</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>E vs K Matrix</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Load Summary</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Advanced Batch Load</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Batch Posting</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Advanced BP Summary</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                <span>Check Workflow</span>
                            </a>
                            <ul class="dropdown-menu" id="sidemenu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Check File Upload</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>User Preferences</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Workflow Admin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>Workflow Users</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right" ui-sref="projectlist">Home</a>
                    <h3 class="panel-title">{{pageHeader ? pageHeader : 'Project'}}
                        <small></small>
                    </h3>
                </div>
                <div class="panel-body">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!--HEADER START-->
<header>
    <!-- LOGO-->
    <div class=" logo">
        <a href="javascript:void(0)">
            <img src="app/shared/images/logobig.png" />
        </a>
    </div>
    <!-- LOGO-->
    <div class="userdetail">
        <div class="col-lg-12">
            <strong>{{'Header Details'}}</strong> &nbsp;&nbsp;&nbsp;
            <strong></strong> {{}} &nbsp;&nbsp;&nbsp;
            <strong></strong> All your building solution at one place
        </div>
        <!-- <div class="col-lg-4 text-right">
            <a href="#">Log Out</a>
        </div> -->
    </div>
</header>
<!-- <header-component></header-component> -->
<!--HEADER END-->
<!-- MAIN CONTAINER START -->
<div id="wrapper">
    <!-- LEFT SIDEBAR -->
    <!-- <div class="col-md-2"> -->
    <div id="sidebar-wrapper">
        <ul class="nav nav-pills nav-stacked">
            <li class="dropdown">
                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                        <span>Remittance</span>
                    </a> -->
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="projectlist">
                    <span>Home</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="#">
                                <span>Remittance Mismatch</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Remittance Search</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>OnHold Remittance</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Manual Posting Queue</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Advance Manual Posting</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Deposit vs Remittance Mismatch</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.tableofcontent({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Table of Contents</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>Deposit Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Deposit Mismatch</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Deposit Search</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.bidestimate({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Project Bid/Estimates</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="#">
                                <span> Claims Search</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span> Posted Claims Search</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span> Bulk Denial</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.projectstatus({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Project Status/Tracking</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="#">
                                <span>Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Report Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Report Generation</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Report Archive</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.photos({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Project Photos</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>BP Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Page Preferences</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Contract Fee</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Action Code</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Client Reference Update</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/card-crosswalks']">
                                <span>Card Crosswalks</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Freeze Invoice</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>On Demand Jobs</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Response Config</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Provider Contract Config</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Deposit Lockbox Config</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Advance Mismatch Portal</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>User Activity</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Load Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>E vs K Matrix</span>
                            </a>
                        </li>

                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.punch({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Punch List</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>Advanced Batch Load</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.flowchart">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Flow Chart/Schedule</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>Advanced BP Summary</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.subcontractors({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Sub Contractors List</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>Check File Upload</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>User Preferences</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Workflow Admin</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>Workflow Users</span>
                            </a>
                        </li>
                    </ul> -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="menu.suppliers({'id': ctrl.id})">
                    <!-- <span class="glyphicon glyphicon-chevron-right pull-right"></span> -->
                    <span>Supplier and Vendor List</span>
                </a>
                <!-- <ul class="dropdown-menu" id="sidemenu">
                            <li>
                                <a href="javascript:void(0)">
                                    <span>Check File Upload</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>User Preferences</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>Workflow Admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span>Workflow Users</span>
                                </a>
                            </li>
                        </ul> -->
            </li>
        </ul>
    </div>
    <!-- </div> -->
    <!-- LEFT SIDEBAR -->

    <!-- RIGHT CONTENT SECTION -->
    <!-- <div class="col-md-9"> -->
    <div id=" page-content-wrapper">
        <div class=" container-fluid relative">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">
                    <a class="pull-right" ui-sref="projectlist">Home</a>
                    <h3 class="panel-title">{{pageHeader ? pageHeader : 'Project'}}
                        <small></small>
                    </h3>
                </div> -->
                <div class="panel-body">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- RIGHT CONTENT SECTION -->
</div>
<!-- MAIN CONTAINER END -->

<!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  -->