<div class="row">
    <div class="col-xs-12">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wrapper">
                        <ul class="list">
                            <li ng-repeat="image in ctrl.images | filter:categories" ng-click="ctrl.setCurrentImage(image)">
                                <img ng-src="{{image.image}}" alt="{{image.description}}" />
                            </li>
                        </ul>
                        <!-- End of List -->
                    </div>
                    <!-- End of Wrapper -->
                </div>
                <!-- End of Column -->
                <div class="col-md-9">
                    <div class="albumImage">
                        <img ng-src="{{ctrl.currentImage.image}}" alt="{{ctrl.currentImage.description}}" height="95%" width="95%" />
                    </div>
                    <h3>{{ctrl.currentImage.description}}</h3>
                </div>
                <!-- End of Column -->
            </div>
            <!-- End of Row -->
        </div>
        <!-- End of Album Controller -->
    </div>
    <!-- End of Column -->
</div>
<!-- End of Row -->