<!-- <a class="btn js-scroll-trigger" ui-sref="menu.tableofcontent">Table of Contents</a>
<a class="btn js-scroll-trigger" ui-sref="menu.project">Project Information</a>


<a class="btn js-scroll-trigger" ui-sref="menu.projectstatus">Project Status/Tracking</a>
<a class="btn js-scroll-trigger" ui-sref="menu.photos">Project Photos</a>

 -->


<h4>
    <a ui-sref="menu.bidestimate">Bid Estimate (Starting Worksheet)</a>
</h4>
<p>
    Begin here! This is the instructional sheet to start your bid Estimating and construction. There are notes an every line
    item to guide you through the process of bidding and getting a detailed cost estimate for your project. It is written
    basically in chronological order to better assist you and also to act as a check list as you perform each task, and that
    you don' skip or forget a task in the process. There are line items that say "ALLOWANCES" , As you fill in those items
    on this worksheet it will automatically fill in the allowance page of this workbook (#7 Below). As you fill in this Bid
    Estimate Sheet It will also fill in the "Bank Copy" (#5 Below) and the Estimate column of The Actual Cost/ Variance Sheet
    (# 6 Below)
</p>

<h4><a ui-sref="menu.bidnotes">Bid Estimate Notes</a></h4>
<p>
    These are the notes/ instructions on each line item of Bid Estimate Sheet Above in written form should you desire to turn
    off the notes on the worksheet
</p>

<h4><a ui-sref="menu.bankcopy">Bank Copy Of Estimate (Single Page)</a></h4>
<p>
    This form is included for the sole purpose to have the total estimate on one single page, This is the copy I usually Gave
    to the Bank for their records. It is easier for the bank to see it all on one page and not to disclose how much per square
    foot I am paying for each Item. Just the simple version. When you fill in the "Estimate Sheet of this w1orkbook, it will
    automatically fill in the "Bank Copy" so, there is no need to fill out another sheet. It is already done!
</p>

<h4>
    <a ui-sref="menu.flowchart">Schedule/Flow Chart</a>
</h4>
<p>
    This is the "Working Sheet" of the construction process. It is written in chronological order including when to schedule
    the inspectors. You might check with your local governing entity to verify the phases of the inspections. The further
    left hand column is to check off each task as you complete the tasks.
</p>

<h4><a ui-sref="menu.biddetails">Estimate/Actual Costs / Variance Sheet</a></h4>
<p>
    As You fill in the first "Estimate Sheet" (#1 above) It will automatically fill in the Estimate column of this worksheet.
    However, the actual cost will need to be filled in manually as you get your totals. The variance column will calculate
    automatically giving you your variance plus or minus, thus giving you complete control of your financial goals within
    the project.
</p>

<h4>Allowances</h4>
<p>
    Allowances are given when you do not know how much you or your customer may spend on these items. It is basically a number
    to use to fill in the Estimate sheet. It is intended to give an "up To" amount to be spent. The amount to use should
    at least cover some basic items. (ex appliances- you could get "Standard appliances for the kitchen for around $,1500.
    So you would use in the estimate $1,500 in the appliance line. The allowance sheet is filled in automatically when you
    fill in the (1st. page above) of the "Estimate Sheet"
</p>

<h4>Owner Selections</h4>
<p>
    This is to help you organize coordinate and keep a record of the selected item you pick out for the project.
</p>

<h4><a ui-sref="menu.subcontractors">Subcontractor List and Information</a></h4>
<p>
    This a record and information you should keep on the Subcontractor per project. (Also Be sure to always have them sign a
    "waiver of Liability" #13 Below to minimize your liability and exposure.)
</p>

<h4><a ui-sref="menu.suppliers">Vendors/ Suppliers List</a></h4>
<p>
    This is a list to organize you project of the suppliers (stores) That you purchase your selections from. It also helps you
    to have a record of items for warranty and replacements.
</p>

<h4>Helpful Web Pages </h4>
<p>
    These are helpful and informational web pages that I have come across & wanted to pass along .It will be worth your while
    to view some of these.
</p>

<h4>Things To Do List</h4>
<p>
    Just a helpful list for you to plan your day and stay task oriented and organized!
</p>

<h4>Glossary Of Terms</h4>
<p>
    Construction terms. It is not necessary to know all the terms. Most of them you will pick on the job.
</p>

<h4>Overhead / Expenses ( Very Important to Watch) </h4>
<p>
    Organize and keep up with your expenses. This form helps you with that. Look at it regularly, know your expenses. It will
    make you aware and more profitable. Just as important as the building and watching those expenses, your overhead expenses
    can cripple you!
</p>

<h4>Utilities Set Up Information </h4>
<p>
    Look up your utility information and keep it handy throughout the building process Do not schedule your flatwork/driveways
    and sidewalks until your underground services are complete.
</p>

<h4>Draw Request From Lender </h4>
<p>
    (Must Be Signed By Owner & Builder) This is a form that most banks or interim construction loan companies will use when you
    will request a draw against the construction funds to pay for the work that has been completed. The Banks will not allow
    you to draw against work that is not completed or not done. See Sample or ideas of draw schedules below.
</p>

<h4><a ui-sref="menu.punch">Punch Lists ( Items To Be Completed Prior To Closing)</a></h4>
<p>
    A list of discrepancies that need to be corrected by the contractor & or Subcontractor. You may want to make a list for each
    subcontractor to complete. Some Customers will not close on the project until the list is complete. Thus , there is a
    place for the customer to sign off on when the task is completed to their satisfaction. It also may help relieve you
    from future liability that they have signed that they are satisfied.
</p>
